{% extends "base.html" %}

{% block head %}
WikiTable Scraper
{% endblock %}

{% block body %}

{% block content %}
<form  method="POST">
    <br>
    <div class="input-group mb-3">

            <input 
             type="url"
             class="form-control form-control-md"
             style="max-width: 600px;"
             id="url"
             name="url"
             placeholder="https://en.wikipedia.org/wiki/Example_Page"
            />
        
            <button type="submit" class="btn btn-primary">Scrap</button>

    </div>
</form>

    {% if request.method == 'POST' %}
    <div class="content">
        <br>
        <h2 align="center">Scraped {{ tablesAmount }} tables from {{ pageTitle }} </h2>

        <form action="/" method="POST" class="form-inline">
            <label for="downloadFormat" class="mr-sm-2">Download format:</label>
            <select class="form-control mr-sm-2" name="downloadFormat" id="downloadFormat">
              <option value="csv">CSV</option>
              <option value="json">JSON</option>
              <option value="xlsx">XLSX</option>
            </select>
            <button type="submit" class="btn btn-primary">Download</button>
          </form>

        <form method="POST">
            <input type="submit" name="saveTable" value="Save" class="btn btn-primary">
        </form>
    <div class="table">
        <form method="POST">
            <table>
                {% for table in tables %}
                {% if loop.index0 % 3 == 0 %}
                    <tr>
                {% endif %}
                    <td>
                        <div class="col-sm-12">
                            <button
                            type="submit"
                            class="btn btn-outline-primary btn-block"
                            data-bs-toggle="button"
                            id="tableID"
                            name="tableID"
                            value="{{ loop.index0 }}"
                            >
                            {{ tablesTitles[loop.index0] }}
                            </button>
                        </div>
                    </td>

                {% endfor %}
            </table>
        </form>
    </div>

    <br>
<div align="center">
{{ tableView|safe }}
</div>

{% endif %}

{% endblock%}

{% endblock %}